<h1>Blacklist of customers</h1>

<div class="container mb-3">
  <div class="row">
    <%= bootstrap_form_tag(url: add_to_blacklist_customers_path, layout: :inline) do |f| %>
      <%= f.text_field :phone %>
      <%= f.submit 'Add customer to blacklist', class: "btn btn-primary ml-3" %>
    <% end %>
  </div>
</div>

<%= customers_list(@customers) %>

<%= link_to('List of customers', root_path) %>
